*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
 a,
 ul, 
 ol {
     text-decoration: none;
     list-style-type: none;
     cursor: pointer;
     margin: 0;
     padding: 0;
 }

 h2 h3 p {
     font-style: normal;
     font-weight: 400;
     color: #2e2f42;
     text-transform: capitalize;
     margin-top: 0;
     margin-bottom: 0;

 }
img{
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
.container {
    max-width: 1158px;
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #2e2f42;
}
.page-nav{
    display: flex;
    gap:40px;
}
.page-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: none;
    padding: 24px 0;
    display: flex;
}   
   
 .page-nav .link:hover, 
 .page-nav .link:focus {
    color:#404bbf;
    text-decoration: underline;
}
.page-nav .link:active {
    color: #404bbf;
    text-decoration: underline;
}
.contact-address{
    font-style: normal;
    margin-left: auto;    
}
.contact-address-list{
    display: flex;
    gap: 40px;
}
 .contact-link {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

 .contact-link:hover,
 .contact-link:focus {
    color: #404bbf;
 }

.firstsect {
    background-color: #2E2F42;
    text-align: center;
    color: #fff;
    padding: 188px 0;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
}
.page-title{
    max-width: 496px;
    margin: 0 auto;
}
button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}
button:hover, button:focus{
    background-color: #404bbf;
}
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
}
.secondsect{
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-plan {
    display: flex;
    gap: 24px;
}
.secondsect-item {
    width: calc((100% - 3 * 24px) / 4);
}
.plan-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.plan-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.thirdsect {
    background: #f4f4fd;
    padding: 120px 0;
}

.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.thirdsect-container {
    display: flex;
    gap: 24px;
}
.img{
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
}
.head-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.foursect {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
}
.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.project {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-footer {
    display: inline-block;
    padding: 100px 0;
}
.page-footer {
    background-color: #2e2f42;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}
.logo-footer .web-studio{
    color: #f4f4fd;
}
.page-footer-text {
    text-align: left;
    max-width: 264px;
}